{{- if eq .chezmoi.hostname "fedora" }}
browser_cmd: firefox {}
editor_cmd: nvim {}
save_path: /home/felix/.mdn.d
{{- end }}

{{- if eq .chezmoi.hostname "rzbl" }}
#===============================================================================
# Razor Blade specific conf
#===============================================================================
browser_cmd: firefoxw file:///`wslpath -m {}`
editor_cmd: nvim {}
save_path: /mnt/c/Users/knorr/Nextcloud/mdn.d
{{- end }}
